In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
plt.style.use("ggplot")

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

# Preprocessing

In [11]:
data_raw = pd.read_csv("monthly.csv")
y_raw = pd.read_csv("y.csv")
y_raw.head()

       date TICKER  Y
0  19650129    NCM  1
1  19650129    ACD  0
2  19650129    ABP  1
3  19650129      T  1
4  19650129    AME  1

In [35]:
data_raw.head()

,PERMNO,date,SHRCD,TICKER,COMNAM,PRC,VOL,RET,RETX,dateDT,year
0,10057,1965-01-29,11.0,NCM,NATIONAL ACME CO,71.75,110.0,0.039855,0.039855,1965-01-29,1965
1,10057,1965-02-26,11.0,NCM,NATIONAL ACME CO,71.25,82.0,0.001742,-0.006969,1965-02-26,1965
2,10057,1965-03-31,11.0,NCM,NATIONAL ACME CO,76.00,243.0,0.066667,0.066667,1965-03-31,1965
3,10057,1965-04-30,11.0,NCM,NATIONAL ACME CO,39.50,152.0,0.039474,0.039474,1965-04-30,1965
4,10057,1965-05-28,11.0,NCM,NATIONAL ACME CO,37.00,256.0,-0.054430,-0.063291,1965-05-28,1965

In [32]:
if isinstance(data_raw['date'])
data_raw["date"] = data_raw["date"].apply(lambda x: str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])
data_raw["dateDT"] = pd.to_datetime(data_raw["date"])
data_raw["year"] = [_.year for _ in data_raw["dateDT"]]

In [34]:
data_raw.sort()

      PERMNO  date  SHRCD  TICKER  COMNAM   PRC   VOL   RET  RETX  dateDT
year
1965    2794  2794   2783    2783    2783  2774  2779  2774  2774    2794
1966    2837  2837   2832    2832    2832  2819  2823  2819  2819    2837
1967    2856  2856   2849    2842    2849  2833  2838  2840  2840    2856
1968    2923  2923   2907    2885    2907  2879  2883  2901  2901    2923
1969    3048  3048   3032    3008    3032  3002  3006  3026  3026    3048
1970    3175  3175   3163    3139    3163  3137  3139  3161  3161    3175
1971    3380  3380   3365    3341    3365  3336  3340  3360  3360    3380
1972    3604  3604   3521    3471    3521  3475  3405  3519  3519    3604
1973    4414  4414   4406    4331    4406  4354  3486  4383  4383    4414
1974    4377  4377   4376    4326    4376  4299  3471  4334  4334    4377
1975    4371  4371   4367    4322    4367  4293  3459  4323  4323    4371
1976    4352  4352   4349    4286    4349  4256  3463  4295  4295    4352
1977    4331  4331   4329    4254    4329  4241  3430  4292  4292    4331
1978    4320  4320   4317    4254    4317  4240  3422  4288  4288    4320
1979    4276  4276   4271    4223    4271  4210  3460  4258  4258    4276
1980    4307  4307   4292    4229    4292  4218  3474  4275  4275    4307
1981    4372  4372   4364    4316    4364  4295  3486  4339  4339    4372
1982    4365  4365   4358    4310    4358  4279  3572  4327  4327    4365
1983    4411  4411   4395    4375    4395  4354  4362  4384  4384    4411
1984    4496  4496   4487    4469    4487  4450  4458  4480  4480    4496
1985    4537  4537   4523    4495    4523  4479  4490  4512  4512    4537
1986    4678  4678   4654    4617    4654  4605  4615  4642  4642    4678
1987    4888  4888   4865    4831    4865  4823  4829  4857  4857    4888
1988    4966  4966   4957    4921    4957  4909  4921  4945  4945    4966
1989    4930  4930   4922    4891    4922  4880  4889  4911  4911    4930
1990    4941  4941   4934    4930    4934  4920  4930  4924  4924    4941
1991    5002  5002   4983    4983    4983  4978  4981  4978  4978    5002
1992    5175  5175   5158    5158    5158  5145  5156  5145  5145    5175
1993    5360  5360   5330    5321    5330  5314  5320  5323  5323    5360
1994    5584  5584   5573    5561    5573  5554  5560  5566  5566    5584
1995    5638  5638   5616    5608    5616  5598  5608  5605  5605    5638
1996    5793  5793   5776    5776    5776  5750  5764  5750  5750    5793
1997    5827  5827   5807    5807    5807  5787  5797  5787  5787    5827
1998    5899  5899   5885    5885    5885  5863  5880  5863  5863    5899
1999    5827  5827   5811    5811    5811  5800  5809  5800  5800    5827
2000    5863  5863   5850    5850    5850  5837  5849  5837  5837    5863
2001    5909  5909   5892    5885    5892  5873  5885  5880  5880    5909
2002    5961  5961   5951    5939    5951  5929  5938  5941  5941    5961
2003    5881  5881   5879    5861    5879  5851  5862  5869  5869    5881
2004    5869  5869   5860    5837    5860  5831  5836  5854  5854    5869
2005    5909  5909   5899    5892    5899  5883  5891  5890  5890    5909
2006    5931  5931   5924    5920    5924  5914  5920  5918  5918    5931
2007    5933  5933   5927    5915    5927  5907  5913  5919  5919    5933
2008    5940  5940   5935    5919    5935  5915  5920  5931  5931    5940
2009    5933  5933   5930    5897    5930  5891  5898  5924  5924    5933
2010    5927  5927   5921    5895    5921  5893  5895  5919  5919    5927
2011    5980  5980   5972    5948    5972  5944  5948  5968  5968    5980
2012    6024  6024   6019    5983    6019  5981  5982  6017  6017    6024
2013    6084  6084   6076    6041    6076  6039  6041  6074  6074    6084
2014    6158  6158   6154    6130    6154  6130  6130  6154  6154    6158
2015    6186  6186   6183    6170    6183  6168  6170  6181  6181    6186
2016    6207  6207   6204    6204    6204  6200  6203  6200  6200    6207
2017    6192  6192   6190    6190    6190  6189  6190  6189  6189    6192
2018    6158  6158   6158    6158    6158  6145  6157  6145  6145    6158
2019    6013  6013   6011    6011    6011  6000  6009  6000  6000    6013

# Descriptive Analysis

In [18]:
170385/(105177+41408+170385)

0.5375429851405495

In [19]:
(105177+41408+170385)

316970

In [41]:
data_raw.shape[0]*0.6

165667.19999999998

In [42]:
data_raw.iloc[165667, :]

PERMNO                  57817
date               1979-09-28
SHRCD                      11
TICKER                   NOBE
COMNAM          NORDSTROM INC
PRC                   -21.125
VOL                       NaN
RET                 -0.011696
RETX                -0.011696
dateDT    1979-09-28 00:00:00
year                     1979
Name: 165667, dtype: object

In [ ]:
data_raw[]