In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
plt.style.use("ggplot")

In [2]:
from sklearn.linear_model import LinearRegression, LassoCV
from sklearn.ensemble import RandomForestClassifier

# Preprocessing

In [4]:
data_raw = pd.read_csv("monthlywithmomentum.csv", index_col=0)
y_raw = pd.read_csv("y.csv")

In [5]:
y_raw.head()

       date TICKER  Y
0  19860331   NOAX  1
1  19860331    ALD  1
2  19860331     AC  1
3  19860331     BU  0
4  19860331     BG  0

In [6]:
data_raw.head()

,PERMNO,date,SHRCD,TICKER,COMNAM,CUSIP,PRC,VOL,RET,CFACPR,...,momentum63,momentum84,momentum105,momentum126,momentum147,momentum168,momentum189,momentum210,momentum231,momentum252
0,10062,19860331,11.0,NOAX,NORTHEAST OHIO AXLE INC,29409K60,-10.250,78.0,-0.012048,0.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10062,19860430,11.0,NOAX,NORTHEAST OHIO AXLE INC,29409K60,-13.875,508.0,0.353659,0.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10062,19860530,11.0,NOAX,N E O A X INC,29409K60,13.750,335.0,-0.009009,0.143,...,-0.231741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10062,19860630,11.0,NOAX,N E O A X INC,29409K60,15.250,366.0,0.109091,0.143,...,-0.050081,-0.141722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10062,19860731,11.0,NOAX,N E O A X INC,29409K60,13.250,547.0,-0.131148,0.143,...,0.553784,0.103260,0.007698,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# drop na
data_raw = data_raw.dropna()
y_raw = y_raw.loc[data_raw.index]

              date TICKER  Y     dateDT
5282    1965-12-31     AA  0 1965-12-31
5283    1965-12-31     AC  1 1965-12-31
5284    1965-12-31    ACD  0 1965-12-31
5285    1965-12-31    AGO  0 1965-12-31
5286    1965-12-31    ALA  1 1965-12-31
5287    1965-12-31    AMR  1 1965-12-31
5288    1965-12-31    APY  0 1965-12-31
5289    1965-12-31    ASA  1 1965-12-31
5290    1965-12-31    AUM  0 1965-12-31
5291    1965-12-31    AZP  1 1965-12-31
5292    1965-12-31     BC  0 1965-12-31
5294    1965-12-31     BF  0 1965-12-31
5295    1965-12-31    BFD  0 1965-12-31
5296    1965-12-31    BGE  0 1965-12-31
5297    1965-12-31    BGG  1 1965-12-31
5298    1965-12-31    BGH  0 1965-12-31
5299    1965-12-31     BI  1 1965-12-31
5301    1965-12-31    BMY  1 1965-12-31
5302    1965-12-31     BP  0 1965-12-31
5303    1965-12-31     BU  1 1965-12-31
5304    1965-12-31    BUG  1 1965-12-31
5305    1965-12-31    BWN  0 1965-12-31
5306    1965-12-31    BWS  1 1965-12-31
5307    1965-12-31      C  0 1965-12-31
5308    1965-12-31    CBE  0 1965-12-31
5309    1965-12-31    CBM  1 1965-12-31
5310    1965-12-31    CBS  0 1965-12-31
5311    1965-12-31    CCB  0 1965-12-31
5312    1965-12-31    CCK  0 1965-12-31
5313    1965-12-31    CCN  1 1965-12-31
...            ...    ... ..        ...
436596  2019-12-31    WCG  1 2019-12-31
436597  2019-12-31    WDC  0 2019-12-31
436598  2019-12-31    WEC  0 2019-12-31
436599  2019-12-31    WFC  1 2019-12-31
436600  2019-12-31    WHR  0 2019-12-31
436601  2019-12-31   WLTW  0 2019-12-31
436602  2019-12-31     WM  1 2019-12-31
436603  2019-12-31    WMB  0 2019-12-31
436604  2019-12-31    WMT  1 2019-12-31
436605  2019-12-31    WOR  0 2019-12-31
436606  2019-12-31    WPX  0 2019-12-31
436607  2019-12-31    WRK  0 2019-12-31
436608  2019-12-31     WU  1 2019-12-31
436609  2019-12-31     WY  0 2019-12-31
436610  2019-12-31   WYND  0 2019-12-31
436611  2019-12-31   WYNN  0 2019-12-31
436612  2019-12-31      X  1 2019-12-31
436613  2019-12-31    XEC  0 2019-12-31
436614  2019-12-31    XEL  0 2019-12-31
436615  2019-12-31   XLNX  0 2019-12-31
436616  2019-12-31    XOM  1 2019-12-31
436617  2019-12-31   XRAY  1 2019-12-31
436618  2019-12-31    XRX  1 2019-12-31
436619  2019-12-31    XYL  1 2019-12-31
436620  2019-12-31   YRCW  1 2019-12-31
436621  2019-12-31    YUM  1 2019-12-31
436622  2019-12-31   YUMC  0 2019-12-31
436623  2019-12-31    ZBH  0 2019-12-31
436624  2019-12-31   ZBRA  1 2019-12-31
436625  2019-12-31   ZION  0 2019-12-31

[411846 rows x 4 columns]

In [8]:
if not isinstance(data_raw['date'][0], str):
    data_raw["date"] = data_raw["date"].apply(lambda x: str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])
data_raw["dateDT"] = pd.to_datetime(data_raw["date"])

if not isinstance(y_raw['date'][0], str):
    y_raw["date"] = y_raw["date"].apply(lambda x: str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])
y_raw["dateDT"] = pd.to_datetime(y_raw["date"])

In [9]:
data_raw = data_raw.sort_values(by=["dateDT", "TICKER"])
data_raw.index = range(data_raw.shape[0])

In [10]:
y_raw = y_raw.sort_values(by=["dateDT", "TICKER"])
y_raw.index = range(y_raw.shape[0])

In [11]:
data_raw["id"] = data_raw.index

In [12]:
# split train, val, test
train_val_split = int(data_raw.shape[0]*0.4)
val_test_split = int(data_raw.shape[0]*0.6)
data_train = data_raw.loc[data_raw["dateDT"] <= data_raw["dateDT"][train_val_split]]
train_cut = data_train.shape[0]
data_val = data_raw.iloc[train_cut:].loc[data_raw["dateDT"] <= data_raw["dateDT"][val_test_split]]
val_cut = train_cut + data_val.shape[0]
data_test = data_raw.iloc[val_cut:]

In [13]:
y_train = y_raw.iloc[:train_cut]
y_val = y_raw.iloc[train_cut:val_cut]
y_test = y_raw.iloc[val_cut:]

In [14]:
feature_all = ['PRC', 'VOL', 'RET']

# add momentum terms
for i in range(1,22):
    feature_all.append("momentum" + str(i))
for i in range(42,253,21):
    feature_all.append("momentum" + str(i))

feature_all

['PRC',
 'VOL',
 'RET',
 'momentum1',
 'momentum2',
 'momentum3',
 'momentum4',
 'momentum5',
 'momentum6',
 'momentum7',
 'momentum8',
 'momentum9',
 'momentum10',
 'momentum11',
 'momentum12',
 'momentum13',
 'momentum14',
 'momentum15',
 'momentum16',
 'momentum17',
 'momentum18',
 'momentum19',
 'momentum20',
 'momentum21',
 'momentum42',
 'momentum63',
 'momentum84',
 'momentum105',
 'momentum126',
 'momentum147',
 'momentum168',
 'momentum189',
 'momentum210',
 'momentum231',
 'momentum252']

Use the following

`data_train`, `y_train`

`data_val`, `y_val`

`data_test`, `y_test`

# Descriptive Analysis

In [15]:
y_raw.shape

(436627, 4)

In [16]:
data_raw.shape

(436626, 47)

# Basic Models

In [17]:
lasso1 = LassoCV()
lasso1.fit(data_train[feature_all], y_train['Y'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').