In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
plt.style.use("ggplot")

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

# Preprocessing

In [3]:
data_raw = pd.read_csv("monthlyupdated.csv")
y_raw = pd.read_csv("y.csv")

In [4]:
y_raw.head()

       date TICKER  Y
0  20150831   CPGX  1
1  20150831    CPB  0
2  20150831      K  0
3  20150831    DUK  0
4  20150831    IPG  1

In [5]:
data_raw.head()

,PERMNO,date,SHRCD,TICKER,COMNAM,CUSIP,PRC,RET,RETX
0,15404,20150630,NaN,NaN,NaN,19828010,NaN,NaN,NaN
1,15404,20150731,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,29.18,C,C
2,15404,20150831,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,25.36,-0.130912,-0.130912
3,15404,20150930,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,18.29,-0.278785,-0.278785
4,15404,20151030,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,20.77,0.142428,0.135593

In [6]:
if not isinstance(data_raw['date'][0], str):
    data_raw["date"] = data_raw["date"].apply(lambda x: str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])
data_raw["dateDT"] = pd.to_datetime(data_raw["date"])

if not isinstance(y_raw['date'][0], str):
    y_raw["date"] = y_raw["date"].apply(lambda x: str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])
y_raw["dateDT"] = pd.to_datetime(y_raw["date"])

In [7]:
data_raw = data_raw.sort_values(by=["dateDT", "TICKER"])
data_raw.index = range(data_raw.shape[0])

In [8]:
y_raw = y_raw.sort_values(by=["dateDT", "TICKER"])
y_raw.index = range(y_raw.shape[0])

In [9]:
data_raw["id"] = data_raw.index

In [10]:
# split train, val, test
train_val_split = int(data_raw.shape[0]*0.4)
val_test_split = int(data_raw.shape[0]*0.6)
data_train = data_raw.loc[data_raw["dateDT"] <= data_raw["dateDT"][train_val_split]]
train_cut = data_train.shape[0]
data_val = data_raw.iloc[train_cut:].loc[data_raw["dateDT"] <= data_raw["dateDT"][val_test_split]]
val_cut = train_cut + data_val.shape[0]
data_test = data_raw.iloc[val_cut:]

In [11]:
y_train = y_raw.iloc[:train_cut]
y_val = y_raw.iloc[train_cut:val_cut]
y_test = y_raw.iloc[val_cut:]

In [12]:
feature_all = ['PRC', 'VOL', 'RET']

Use the following

`data_train`, `y_train`

`data_val`, `y_val`

`data_test`, `y_test`

# Descriptive Analysis

In [13]:
y_raw.shape

(7423, 4)

In [14]:
data_raw.shape

(7461, 11)

# Basic Models