In [1]:
import pandas as pd
import numpy as np

In [2]:
monthly = pd.read_csv("monthly.csv")

In [30]:
monthly['RET']=pd.to_numeric(monthly.iloc[np.where((monthly['RET']!='C')&(monthly['RET']!='B'))[0],:]['RET'])

In [41]:
monthly.head()

,PERMNO,date,SHRCD,TICKER,COMNAM,PRC,VOL,RET,RETX
0,10057,19650129,11.0,NCM,NATIONAL ACME CO,71.75,110.0,0.039855,0.039855
1,10057,19650226,11.0,NCM,NATIONAL ACME CO,71.25,82.0,0.001742,-0.006969
2,10057,19650331,11.0,NCM,NATIONAL ACME CO,76.00,243.0,0.066667,0.066667
3,10057,19650430,11.0,NCM,NATIONAL ACME CO,39.50,152.0,0.039474,0.039474
4,10057,19650528,11.0,NCM,NATIONAL ACME CO,37.00,256.0,-0.054430,-0.063291

In [56]:
def ifabove(row):
    return int(row['MedianRet']>row['RET_x'])

In [62]:
medianret=monthly.groupby('date').median()['RET']
monthly1=monthly.merge(medianret,on="date")
monthly1['MedianRet']=monthly1['RET_y']
monthly1['Y'] = monthly1.apply(lambda row: ifabove(row),axis=1)
monthly1.index=monthly1['date']

In [63]:
y = monthly1[['TICKER','Y']]

In [65]:
y.to_csv('y.csv')