In [1]:
import pandas as pd
import numpy as np

In [58]:
monthly = pd.read_csv("monthlyupdated.csv")

In [59]:
monthly=monthly.replace('C',np.nan)
monthly=monthly.replace('B',np.nan)

In [60]:
monthly.loc[:,"RET"] = monthly.loc[:,"RET"].ffill()

In [61]:
monthly['RET']=pd.to_numeric(monthly['RET'])

In [68]:
monthly=monthly.dropna(subset=['TICKER'])

In [62]:
def ifabove(row):
    return int(row['MedianRet']>row['RET_x'])

In [69]:
medianret=monthly.groupby('date').median()['RET']
monthly1=monthly.merge(medianret,on="date")
monthly1['MedianRet']=monthly1['RET_y']
monthly1['Y'] = monthly1.apply(lambda row: ifabove(row),axis=1)
monthly1.index=monthly1['date']

In [70]:
y = monthly1[['TICKER','CUSIP','Y']].sort_values(['CUSIP','date'])

In [71]:
y['Yshift']=y.groupby(['CUSIP'])['Y'].shift(-1)

In [72]:
#y['date']=y.index
y.sort_values(['CUSIP','date'])

         TICKER     CUSIP  Y  Yshift
date
20121031    ADT  00101J10  1     0.0
20121130    ADT  00101J10  0     1.0
20121231    ADT  00101J10  1     1.0
20130131    ADT  00101J10  1     1.0
20130228    ADT  00101J10  1     1.0
20130328    ADT  00101J10  1     1.0
20130430    ADT  00101J10  1     1.0
20130531    ADT  00101J10  1     1.0
20130628    ADT  00101J10  1     1.0
20130731    ADT  00101J10  1     0.0
20130830    ADT  00101J10  0     1.0
20130930    ADT  00101J10  1     0.0
20131031    ADT  00101J10  0     1.0
20131129    ADT  00101J10  1     1.0
20131231    ADT  00101J10  1     1.0
20140131    ADT  00101J10  1     1.0
20140228    ADT  00101J10  1     1.0
20140331    ADT  00101J10  1     0.0
20140430    ADT  00101J10  0     0.0
20140530    ADT  00101J10  0     0.0
20140630    ADT  00101J10  0     0.0
20140731    ADT  00101J10  0     0.0
20140829    ADT  00101J10  0     1.0
20140930    ADT  00101J10  1     1.0
20141031    ADT  00101J10  1     1.0
20141128    ADT  00101J10  1     0.0
20141231    ADT  00101J10  0     1.0
20150130    ADT  00101J10  1     0.0
20150227    ADT  00101J10  0     0.0
20150331    ADT  00101J10  0     1.0
...         ...       ... ..     ...
20170731    RCL  V7780T10  0     0.0
20170831    RCL  V7780T10  0     1.0
20170929    RCL  V7780T10  1     0.0
20171031    RCL  V7780T10  0     1.0
20171130    RCL  V7780T10  1     1.0
20171229    RCL  V7780T10  1     0.0
20180131    RCL  V7780T10  0     1.0
20180228    RCL  V7780T10  1     1.0
20180329    RCL  V7780T10  1     1.0
20180430    RCL  V7780T10  1     1.0
20180531    RCL  V7780T10  1     1.0
20180629    RCL  V7780T10  1     0.0
20180731    RCL  V7780T10  0     0.0
20180831    RCL  V7780T10  0     0.0
20180928    RCL  V7780T10  0     1.0
20181031    RCL  V7780T10  1     0.0
20181130    RCL  V7780T10  0     1.0
20181231    RCL  V7780T10  1     0.0
20190131    RCL  V7780T10  0     1.0
20190228    RCL  V7780T10  1     1.0
20190329    RCL  V7780T10  1     0.0
20190430    RCL  V7780T10  0     0.0
20190531    RCL  V7780T10  0     1.0
20190628    RCL  V7780T10  1     1.0
20190731    RCL  V7780T10  1     1.0
20190830    RCL  V7780T10  1     0.0
20190930    RCL  V7780T10  0     1.0
20191031    RCL  V7780T10  1     0.0
20191129    RCL  V7780T10  0     0.0
20191231    RCL  V7780T10  0     NaN

[438030 rows x 4 columns]

In [73]:
y.to_csv('y.csv')

In [68]:
monthly.to_csv('monthlyforuse.csv')

In [149]:
len(y)

436627

In [150]:
len(monthly)

436627