In [1]:
import pandas as pd
import numpy as np

In [84]:
monthly = pd.read_csv("monthlyupdated.csv")

In [85]:
monthly['RET']=pd.to_numeric(monthly.iloc[np.where((monthly['RET']!='C')&(monthly['RET']!='B'))[0],:]['RET'])

In [86]:
monthly.head()

,PERMNO,date,SHRCD,TICKER,COMNAM,CUSIP,PRC,RET,RETX
0,15404,20150630,NaN,NaN,NaN,19828010,NaN,NaN,NaN
1,15404,20150731,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,29.18,NaN,C
2,15404,20150831,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,25.36,-0.130912,-0.130912
3,15404,20150930,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,18.29,-0.278785,-0.278785
4,15404,20151030,11.0,CPGX,COLUMBIA PIPELINE GROUP INC,19828010,20.77,0.142428,0.135593

In [87]:
monthly=monthly.dropna(subset=['TICKER','RET'])

In [89]:
def ifabove(row):
    return int(row['MedianRet']>row['RET_x'])

In [90]:
medianret=monthly.groupby('date').median()['RET']
monthly1=monthly.merge(medianret,on="date")
monthly1['MedianRet']=monthly1['RET_y']
monthly1['Y'] = monthly1.apply(lambda row: ifabove(row),axis=1)
monthly1.index=monthly1['date']

In [91]:
y = monthly1[['TICKER','Y']]

In [92]:
y.to_csv('y.csv')